{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
    <div class="content">
        <!-- typing fubnction in javascript-->
        <div class="typing" id="typing-text"></div>
        <script>
            const text = "Resources";
            const typingElement = document.getElementById("typing-text");

            let index = 0;
            const speed = 100;

            function type() {
                if (index < text.length) {
                    typingElement.innerHTML += text.charAt(index);
                    index++;
                    setTimeout(type, speed);
                }
            }
            window.onload = type;
        </script>

    <!-- container for spotify playlists--> 
    <div class="container-wrapper">
        <div class="playlist-container">
            <h1>Playlists</h1> 
            <div class="text">
                <p>We've curated a collection of Spotify playlists to match your mood, no matter what you're feeling—just press play and let the music guide you!</p>
            </div>
            <!-- purple-->
            <div class="playlist purple">
                <h3>If you're feeling scared or anxious, listen to some upbeat music to subside your fears!</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIfTUPQ3YfOqs?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>            </div>
            <!-- green-->
            <div class="playlist green">
                <h3>If you're feeling disapproval, embarrassment or even disgust, listen to this calm and introspective playlist!</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIfdS42AIVWDq?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- red-->
            <div class="playlist red">
                <h3>If you're in an angry mood, dance out your anger with this high-energy playlist!</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIeEZPgsd7pko?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- yellow-->
            <div class="playlist yellow">
                <h3>If you're feeling joyful, enjoy this collection of uplifting songs!</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIeOoLWBf6eek?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <!-- blue -->
            <div class="playlist blue">
                <h3>If you've got the blues and are down in the dumps, listen to this calming playlist!</h3>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1EIhmSBwUDxg84?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
        </div>

        <!-- youtube playlists-->
        <div class="container-wrapper">
            <div class="playlist-container">
                <h1>Videos</h1>
                <div class="text">
                    <p>Discover a handpicked collection of YouTube playlists designed to guide you through mindful practices, whether you're looking to relax, breathe deeply, or reflect. Press play and embark on your journey to inner peace!</p>
                </div>
        
                <!-- Meditation Playlist -->
                <div>
                    <h3>For moments of deep relaxation and mindfulness (Meditation)</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=xbu6Enw90k__Nyl5&amp;list=PLDqTr678aIlc1i14hQKknyEko9LLbC0fb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                </div>
        
                <!-- Deep Breathing Playlist -->
                <div>
                    <h3>For calm and focus (Deep Breathing)</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=TJlx3vZfc0TaMpj1&amp;list=PLtCcAbHtzNRBjPR7T1o0bcL8pZGe_qp9i" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                </div>
        
                <!-- Journaling Playlist -->
                <div>
                    <h3>For self-reflection and creative expression (Journaling)</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=2qo1MxW9lVJ_lM1y&amp;list=PL2GQ__LtiXHHlAEcU354u4AZxcMfT0DWb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                </div>
        
            </div>
        </div>
        
    </div>



       
{% endblock %}