{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepw" method="post">
        <div class="playlist-container">
            <div class="mb-3">
                <h2>Change Password?</h2>
            </div>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Current Password" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="newpassword" placeholder="New Password" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New Password (confirmation)" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}
